{% extends 'layout.html.twig'%}

{% block head %}

    <title> Billeterie Louvre </title>

{% endblock %}

{% block information %}
	<div> 
	    <h2> Information </h2>
        <p>
           {{ "The louvre museum is open every day except"| trans }}:
            <br>
            {{ "Tuesdays, Sundays and holidays" | trans }}.
        </p>
	</div>
{% endblock %}

{% block infostock %}
   <div>
       <p>
           <strong> {{ "Stock info" | trans }}: </strong>
           {{ "there are still enough tickets for the chosen date" | trans }}.
       </p>
   </div>
{% endblock %}


{% block accueil %}
    <div class="card bg-secondary border-secondary">
        <div class="well">

            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form) }}

            {# Génération manuelle et éclatée : #}
            {# Date : #}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.date, "what date would you like to come", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.date) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.date, {'attr':{'class':'js-datepicker'}}) }}
                </div>
            </div>

            {# Nombre de visiteur : #}
            <div class="form-group">
                {# Génération du label. #}
                {{ form_label(form.numberofticket, "Please enter the number of visitors", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.numberofticket) }}

                <div class="col-sm-10">
                    {# Génération de l'input. #}
                    {{ form_widget(form.numberofticket, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

            {# Génération automatique des champs pas encore écrits.
               Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
               et tous les champs cachés (type « hidden »). #}
            {{ form_rest(form) }}

            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}
        </div>

        <script>
            $(document).ready(function() {
                $('.js-datepicker').datepicker({
                    format: 'dd-mm-yyyy', // ne fonctionne pas
                    todayHighlight: true,
                    disableDaysOfWeek: [2, 6],
                    disableDates: [121, 305, 359],
                    uiLibrary: 'bootstrap4',
                });
            });
        </script>

    </div>
{% endblock %}



