{% extends 'layout.html.twig'%}

{% block head %}

    <title> Billeterie Louvre </title>

{% endblock %}

{% block information %}
	<div> 
	    <h2> Information </h2>
        <p>
           {{ "The louvre museum is open every day except"| trans }}:
            <br>
            {{ "Tuesdays, Sundays and holidays" | trans }}.
        </p>
	</div>
{% endblock %}

{% block infostock %}
   <div>
       <p>
           <strong> {{ "Stock info" | trans }}: </strong>
           {{ "there are still enough tickets for the chosen date" | trans }}.
       </p>
   </div>
{% endblock %}


{% block formulaire %}
    <div class="card bg-secondary border-secondary">
        <!-- choix du jour  -->
        <form name="booking" method="post" id="myBooking">
            <div class="card-title">
                <label for="choiceBookingDate">{{ "Day of the visit" | trans }}</label>
                <input id="datepicker" width="276" id="choiceBookingDate" />

                <script>
                    $('#datepicker').datepicker({

                        todayHighlight: true,
                        disableDaysOfWeek: [2, 6],
                        disableDates: [121, 305, 359],
                        uiLibrary: 'bootstrap4',

                    });
                </script>
            </div>
        </form>

        <div class="well">
            {{ form (form) }}
        </div>

        <!--valider le nombre de billet  -->
        <button type="button" class="btn btn-success" > <a href="{{ path('reservation') }}"> {{ "next" | trans }} </a></button>
    </div>
{% endblock %}



