<h1>Confirmation de votre commande sur le site du Louvre</h1>
<p>Bonjour, {{ reservation.name |upper }}, nous vous remercions de votre commande.</p>
<p>Vous trouverez ci-joint le récapitulatif de vottre commande ainsi que le détail des billets.</p>
<hr>

<p>Le documment suivant vous sera demandé lors de votre visite, merci de l'imprimer.</p>

<div>
    <table>
        <tr>
            <td>N° de commande: </td>
            <td>{{ reservation.code }}</td>
        </tr>
        <tr>
            <td>Date de Visite: </td>
            <td>{{ reservation.date | date ('d/m/Y') }}</td>
        </tr>
        <tr>
            <td>Nom: </td>
            <td>{{ reservation.name |upper }} </td>
        </tr>
        <tr>
            <td>Email de contact: </td>
            <td>{{ reservation.email }}</td>
        </tr>
        <tr>
            <td>Nombre de billet(s):</td>
            <td>{{ reservation.numberofticket }}</td>

        </tr>
        <tr>
            <td>Montant en euro:</td>
            <td>{{ reservation.price }} .00€</td>

        </tr>

    </table>
</div>
<hr>
<div>
    <ul>
        {% for ticket in tickets %}
            <li>
                <h3>Nom du visiteur: {{ ticket.name}}</h3>
                <p>
                    Type de billet: {% if fticket.description == 'day ticket' %}
                        Billet Journée
                    {% else %}
                        Billet demi-journée
                    {% endif %}
                </p>
                <p>

                    {% if ticket.reduced == true %}
                </p>
                <h6>Tarif « réduit » accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…)</h6>

                {% endif %}

                <p>Pays: {{ ticket.country }}</p>
                <hr>
            </li>
        {% endfor %}
    </ul>
</div>