{% extends 'layout.html.twig'%}

{% block head %}

    <title> {{ "Payment" | trans }} </title>

{% endblock %}

{% block body %}



    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h3><span>Récapitulatif de votre réservation</span></h3>
            </div>
            <p> Nous vous remercions de bien vouloir vérifier les informations ci dessous avant de payer</p>
            <div>
                <table>
                    <tr>
                        <td>Date de Visite: </td>
                        <td>{{ reservation.date | date ('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>Nom: </td>
                        <td>{{ reservation.name |upper }} </td>
                    </tr>
                    <tr>
                        <td>Email de contact: </td>
                        <td>{{ reservation.email }}</td>
                    </tr>
                    <tr>
                        <td>Nombre de billet(s):</td>
                        <td>{{ reservation.numberofticket }}</td>

                    </tr>
                    <tr>
                        <td> Le montant à payer est de : (en euro)</td>
                        <td>{{ reservation.price }} .00€</td>

                    </tr>

                </table>
            </div>
            <div id="status">

                <form action="{{ path('order_checkout') }}" method="POST">
                    <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_6anR8urJMltszMf5gtS3unhT"
                            data-amount="{{ reservation.price }}00"
                            data-name="Musée du Louvre"
                            data-description="Réservation de billets"
                            data-label="Payer"
                            data-locale="auto"
                            data-currency="eur">
                    </script>
                </form>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

