{% extends 'layout.html.twig'%}

{% block head %}

    <title> {{ "Payment" | trans }} </title>

{% endblock %}

{% block body %}

    <h3>Confirmation de votre commande sur le site du Louvre</h3>
    <p>Nous vous remercions de votre commande.</p>
    <p>Vous trouverez ci-joint le récapitulatif de votre commande , un Email vous a été envoyé afin d'obtenir le détail de vos billets.</p>
    <hr>

    <p>Le document vous sera demandé lors de votre visite.</p>

    <div>
        <table>
            <tr>
                <td>N° de commande: </td>
                <td>{{ reservation.code }}</td>
            </tr>
            <tr>
                <td>Date de Visite: </td>
                <td>{{ reservation.date | date ('d/m/Y') }}</td>
            </tr>
            <tr>
                <td>Nom: </td>
                <td>{{ reservation.name |upper }} </td>
            </tr>
            <tr>
                <td>Email de contact: </td>
                <td>{{ reservation.email }}</td>
            </tr>
            <tr>
                <td>Nombre de billet(s):</td>
                <td>{{ reservation.numberofticket }}</td>

            </tr>
            <tr>
                <td>Montant en euro:</td>
                <td>{{ reservation.price }} .00€</td>

            </tr>

        </table>
    </div>

{% endblock %}