{% extends 'layout.html.twig'%}

{% block head %}

    <title> {{ "Booking" |trans }} </title>

{% endblock %}



{% block body %}

        <div class="well">
            {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
            {{ form_errors(form.tickets) }}
            {{ form_widget(form.tickets) }}

            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            {{ form_end(form) }}
        </div>


    <script type="text/javascript">

        var nbticket = {{ reservation.numberofticket }};
        $(document).ready(function() {

            var $container = $('div#marie_louvresbundle_reservation_tickets');
            var index = $container.find(':input').length;
            if (index == 0) { for (var iter = 0; iter < nbticket ; iter++){
                addTicket($container);
            }} else {
                $container.children('div').each(function() {
                    addDeleteLink($(this));
                });
            }
            function addTicket($container) {
                 var template = $container.attr('data-prototype')
                    .replace(/__name__label__/g, 'Ticket n°' + (index+1))
                    .replace(/__name__/g,        index)
                ;
                var $prototype = $(template);
                $container.append($prototype);
                index++;
            }

            $('.js-datepicker').datepicker(
                {closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    weekHeader: 'Sem.',
                    dateFormat: 'dd-mm-yy',
                    firstDay:1,
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-80:+0",
                    dayRange:"+0"
                }
            );

         });
    </script>


{% endblock %}